@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --very-dark-cyan: hsl(160, 75%, 14%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--cream);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-size: 14px;
  height: 100vh;
  overflow: hidden;
  font-family: Montserrat;
  font-size: 500;
  color: var(--dark-grayish-blue);
}

img {
  max-width: 100%;
}

#root{
  max-height:  450px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.card {
  background-color: var(--white);
  max-width: 600px;
  max-height:  450px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  border-radius: 15px;
}

.content {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-block: 2rem;
  padding-inline: 2rem;
  text-align: left;  
}


.cart-btn {
  background-color: var(--dark-cyan);
  color: var(--white);
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 0.5rem;
  font-size: large;
  margin-block: 0.5em;
  align-self: center;
}
.cart-btn:hover{
  background-color: var(--very-dark-cyan);
}

.pre-heading {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.7rem;
}

.secondary-font {
  font-family: "Fraunces", serif;
  font-weight: 700;
  margin-block:0;
}

.perfume-name {
  font-size: 2.2rem;
  line-height: 1;
  color: var(--very-dark-blue);
  padding-right: 2rem;
}

.price {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
}

.new-price {
  color: var(--dark-cyan);
  font-size: 2.2rem;
}

.old-price {
  text-decoration: line-through;
}
.description{
  line-height: 1.8;
  font-weight: 400;
}

#product-img {
  width: 100%;
  height: 100%;
  max-height: inherit;
  max-width: inherit;
  overflow: hidden;
  background-color: green;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 0;
  content: url("./images/image-product-desktop.jpg");
}

.cart-icon {
  margin-right: 0.5rem;
}

@media screen and (max-width: 700px) {
  #root{
    max-height: fit-content;
  }
  .card{
   max-height: fit-content;
  }
  #product-img {
    content: url("./images/image-product-mobile.jpg");
    border-bottom-left-radius: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .content {
    padding-block: 1.5rem;
    padding-inline: 1.5rem;
  }
  .card {
    max-width: 400px;
    width: 90%;
    grid-template-columns: auto;
  }
  .cart-btn {
    margin-block: 0;
  }
  .perfume-name {
    font-size: 2rem;
  }
}

/* for galaxy fold */
@media screen and (max-width: 280px) {
  body {
    height: 98vh;
  }
}
